<ion-header>
  <ion-navbar>
    <ion-title>
      Image Gallery
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-item *ngFor="let image of list; index as i">
          <img [src]="image" (click)="gotoDetail(image, i)" />
        </ion-item>
      </ion-row>
    </ion-grid>
  </ion-list>

  <ion-infinite-scroll #infiniteScroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
